@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Open Sans Light"), local("OpenSans-Light"),
       url("../fonts/opensanslight.woff") format("woff"),
       url("../fonts/opensanslight.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
       url("../fonts/opensans.woff") format("woff"),
       url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Gilroy Light"), local("Gilroy-Light"),
       url("../fonts/gilroylight.woff") format("woff"),
       url("../fonts/gilroylight.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Gilroy Extra Bold"), local("Gilroy-ExtraBold"),
       url("../fonts/gilroyextrabold.woff") format("woff"),
       url("../fonts/gilroyextrabold.woff2") format("woff2");
}


/* body > * {
  background-color: rgba(255, 0, 0, 0.4);
}

body > * > * {
  background-color: rgba(0, 255, 0, 0.4);
}

body > * > * > * {
  background-color: rgba(0, 0, 255, 0.4);
}

body > * > * > * > * {
  background-color: rgba(0, 255, 255, 0.4);
} */


/* Вспомогательные классы для сетки */

.layout-positioner {
  width: 1180px;
  margin: 0 auto;
  padding: 10px;
}

/* Преобладающие текстовые стили страницы */

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  font-weight: 300;
  color: #464646;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/* Единый стиль кнопки */

.button {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #000000;

  background-color: transparent;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #f0c52e;
}

/* Стили для шапки сайта */

.site-header {
  position: relative;
  margin-bottom: 40px;

  margin-top: 40px;
  padding-top: 50px;
  padding-right: 60px;
  padding-bottom: 165px;
  padding-left: 60px;

  color: #000000;

  background-color: rgba(240, 197, 46, 0.5);
}

.site-header-logo {
  position: absolute;
  top: -20px;

  display: block;
  width: 163px;
  height: 35px;
}

.site-header-logo:hover,
.site-header-logo:focus {
  opacity: 0.6;
}

.site-header-logo:active {
  opacity: 0.3;
}

.layout-header-top-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.search-form {
  width: 440px;
  margin: 0;
}

.search {
  font: inherit;

  background-color: transparent;
  border: none;
}

.search::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search:hover::placeholder,
.search:focus::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.site-header-site-menu {
  width: 560px;
}

.user-menu {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-header-site-menu a {
  color: #000000;
}

.site-header-site-menu a:hover,
.site-header-site-menu a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.site-header-site-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation {
  margin: 0;
  padding: 0;

  list-style: none;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  text-transform: uppercase;
}

.site-header-site-navigation a{
  color: #000000;
}

.site-header-site-navigation a:hover,
.site-header-site-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.site-header-site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.popup-categories {
  display: none;
}

/* Основное содержание главной страницы */

.layout-index-columns {
  display: flex;
  justify-content: space-between;
/* Паддинг у контейнера, а не маргин у футера, потому что на внутренней странице нет отступа между мэйном и футером. */
  padding-bottom: 80px;
}

.about-us,
.contacts {
  width: 560px;
}

.about-us h2,
.contacts h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  font-weight: 800;
  color: #000000;
}

.about-us p,
.contacts p {
  letter-spacing: normal;
}

.delivery-services {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: normal;
  font-weight: 800;
  color: #000000;
}

/* Основное содержание страницы каталога */

.inner-page h1 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  font-weight: 800;
  color: #000000;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs-current {
  color: rgba(0, 0, 0, 0.3);
}

.filter {
  background-color: #ebebeb;
}

.filter h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  font-weight: 800;
  text-transform: uppercase;
  color: #000000;
}

.filter-form fieldset {
  border: none;
}

.filter-form legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  font-weight: 800;
  color: #000000;
}

.filter-form ul {
  list-style: none;
}

.filter-option {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
  color: #000000;
}

.filter-input:disabled + label {
  color: #a6a6a6;
}

.catalog-list {
  list-style: none;
}

.catalog-item a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  font-weight: 800;
  color: #000000;
}

.catalog-item-image:hover img {
  opacity: 0.7;
}

.catalog-item-price b{
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  font-weight: 300;
  color: #464646;
}

/* Стили для подвала сайта */

.site-footer {
  color: #ffffff;

  background-color: #464646;
}

.layout-footer-columns {
  display: flex;
  /* justify-content: space-between; */
}

.layout-footer-left-column {
  /* width: 325px; */
}

.site-footer-logo:hover,
.site-footer-logo:focus {
  opacity: 0.6;
}

.site-footer-logo:active {
  opacity: 0.3;
}

.address,
.phone-number {
  letter-spacing: normal;
}

.site-footer-site-navigation a{
  color: #ffffff;
}

.site-footer-site-navigation a:hover,
.site-footer-site-navigation a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.site-footer-site-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.social-media-list {
  list-style: none;
}

.social-media-list a {
  color: rgba(255, 255, 255, 0.3);
}

.social-media-list a:hover,
.social-media-list a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.social-media-list a:active {
  color: rgba(255, 255, 255, 0.1);
}

.layout-footer-right-column {
  /* width: 325px; */
}

.site-footer-site-menu a {
  line-height: 36px;
  color: rgba(255, 255, 255, 0.7);
}

.site-footer-site-menu a:hover,
.site-footer-site-menu a:focus {
  color: #ffffff;
}

.site-footer-site-menu a:active {
  color: rgba(255, 255, 255, 0.3);
}

.signature {
  color: #ffc600;
}

.signature:hover,
.signature:focus {
  color: rgba(255, 198, 0, 0.6);
}

.signature:active {
  color: rgba(255, 198, 0, 0.3);
}

/* Модальные окна */

.modal {
  display: none;
}
