@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Open Sans Light"), local("OpenSans-Light"),
       url("../fonts/opensanslight.woff") format("woff"),
       url("../fonts/opensanslight.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
       url("../fonts/opensans.woff") format("woff"),
       url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Gilroy Light"), local("Gilroy-Light"),
       url("../fonts/gilroylight.woff") format("woff"),
       url("../fonts/gilroylight.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Gilroy Extra Bold"), local("Gilroy-ExtraBold"),
       url("../fonts/gilroyextrabold.woff") format("woff"),
       url("../fonts/gilroyextrabold.woff2") format("woff2");
}

/* Преобладающие стили страницы */

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  font-weight: 300;
  color: #464646;

  background-color: #ffffff;
}

/* Вспомогательные стили */

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Вспомогательные классы для сетки */

.layout-positioner {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.layout-catalog-positioner {
  padding-left: 60px;
}

/* Единый стиль кнопки */

.button {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #000000;

  background-color: transparent;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #f0c52e;
}

/* Стили для шапки сайта */

.site-header {
  margin-top: 40px;
  margin-bottom: 0;

  color: #000000;
}

.site-header a:hover,
.site-header a:focus {
  opacity: 0.6;
}

.site-header a:active {
  opacity: 0.3;
}

.inner-page .site-header {
  margin-bottom: 37px;
}

.layout-header {
  position: relative;

  padding-top: 34px;
  padding-right: 60px;
  padding-bottom: 50px;
  padding-left: 59px;

  background-color: rgba(240, 197, 46, 0.5);
}

.index-page .layout-header::after {
  content: "";

  position: absolute;
  z-index: -10;
  bottom: -113px;
  left: 0;

  width: 1160px;
  height: 113px;

  background-color: #f7e296;
}

.site-header-logo {
  position: absolute;
  top: -17px;

  display: block;
  width: 163px;
  height: 35px;
}

.layout-header-top-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
}

/* Поиск в шапке */

.search-form {
  position: relative;

  display: flex;
  width: 441px;
  margin: 0;
}

.search-form::before {
  content: "";

  position: absolute;
  top: 17px;
  left: 4px;

  width: 16px;
  height: 16px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-field {
  flex-grow: 1;
  padding: 8px 0 7px 39px;

  font: inherit;
  vertical-align: middle;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
}

.search-field:hover {
  outline: none;
}

.search-field:focus {
  border-bottom-color: #000000;
  outline: none;
}

.search-field::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:focus::placeholder {
  color: #000000;
}

.search-form-button {
  opacity: 0;
  padding: 7px 19px 8px;

  font: inherit;
  vertical-align: middle;

  background-color: transparent;
  border: 2px solid #000000;
}

.search-field:focus + .search-form-button {
  opacity: 1;
}

.search-form-button:hover,
.search-form-button:focus {
  opacity: 1;

  color: #ffffff;

  background-color: #000000;
}

.search-form-button:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

/* Меню в шапке (+ общие стили меню шапки и подвала) */

.site-menu {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

.site-menu a {
  display: block;
  padding-top: 9px;
  padding-right: 0px;
  padding-bottom: 10px;

  vertical-align: middle;
}

.site-header-site-menu a {
  color: #000000;
}

.user-menu {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-header-site-menu .user-menu {
  margin-right: auto;
}

.login-link a {
  position: relative;
  padding-left: 26px;
}

.login-link a::before {
  content: "";

  position: absolute;
  top: 18px;
  left: 0;

  width: 13px;
  height: 12px;

  background-image: url("../img/login-link-header.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.profile-name a {
  position: relative;
  padding-left: 26px;
  margin-right: 19px;
}

.profile-name a::before {
  content: "";

  position: absolute;
  top: 18px;
  left: 0;

  width: 13px;
  height: 12px;

  background-image: url("../img/login-link-header.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.logout-link {
  opacity: 0.3;
}

.compare {
  position: relative;
  padding-left: 19px;
  margin-right: 41px;
}

.compare::before {
  content: "";

  position: absolute;
  top: 20px;
  left: 0;

  width: 10px;
  height: 10px;

  background-image: url("../img/compare-header.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart {
  position: relative;
  padding-left: 23px;
}

.cart::before {
  content: "";

  position: absolute;
  top: 18px;
  left: 0;

  width: 12px;
  height: 12px;

  background-image: url("../img/cart-header.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Навигация в шапке */

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation > li > a {
  display: block;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  text-transform: uppercase;
  vertical-align: middle;
}

.catalog-link {
  position: relative;

  margin-right: auto;
}

.catalog-link > a {
  position: relative;
  padding-right: 35px;
}

.catalog-link > a::before {
  content: "";

  position: absolute;
  top: 4px;
  right: 7px;
  opacity: 0.3;

  width: 16px;
  height: 16px;

  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-subcategories {
  position: absolute;
  top: 24px;

  display: none;
  width: 560px;
  margin: 0;
  padding: 0;
  padding-top: 20px;

  list-style: none;
}

.catalog-link:hover::before {
  content: "";

  position: absolute;
  top: 24px;
  left: -59px;

  width: 1160px;
  height: 162px;

  background-color: #f7e296;
}

.catalog-link:hover .catalog-subcategories {
  display: flex;
  flex-wrap: wrap;
}

.catalog-subcategories a {
  display: block;

  vertical-align: middle;
  line-height: 36px;
}

.catalog-subcategories li:first-child a {
  min-width: 239px;
}

.catalog-subcategories li:nth-child(2) a {
  min-width: 200px;
}

.catalog-subcategories li:nth-child(4) a {
  min-width: 239px;
}

.catalog-subcategories li:nth-child(5) a {
  min-width: 200px;
  margin-right: 111px;
}

.catalog-subcategories li:nth-child(6) a {
  min-width: 239px;
}

.site-header-site-navigation .delivery-link {
  margin-right: 35px;
}

.site-header-site-navigation .warranty-link {
  margin-right: 105px;
}

/* Шрифт не позволяет подогнать текст под правый край, поэтому подогнанно позиционированием */
.site-header-site-navigation .contacts-link a {
  position: relative;
  left: 3px;
}

.site-header-site-navigation a{
  color: #000000;
}

/* Основное содержание главной страницы */

.layout-index-columns {
  display: flex;
  justify-content: space-between;
/* Паддинг у контейнера, а не маргин у футера, потому что на внутренней странице нет отступа между мэйном и футером. */
  padding-bottom: 80px;
}

.about-us,
.contacts {
  width: 560px;
}

.about-us h2,
.contacts h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  font-weight: 800;
  color: #000000;
}

.about-us p,
.contacts p {
  letter-spacing: normal;
}

.delivery-services {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: normal;
  font-weight: 800;
  color: #000000;
}

/* Основное содержание страницы каталога */

.inner-page h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  font-weight: 800;
  color: #000000;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-bottom: 45px;

  list-style: none;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs-current {
  color: rgba(0, 0, 0, 0.3);
}

.layout-catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filter {
  width: 268px;

  background-color: #ebebeb;
}

.filter h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  font-weight: 800;
  text-transform: uppercase;
  color: #000000;
}

.filter-form fieldset {
  border: none;
}

.filter-form legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  font-weight: 800;
  color: #000000;
}

.filter-form ul {
  list-style: none;
}

.filter-option {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
  color: #000000;
}

.filter-input:disabled + label {
  color: #a6a6a6;
}

.catalog-list {
  width: 760px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item:not(:nth-child(2n)) {
  margin-right: 40px;
  margin-bottom: 40px;
}

.catalog-item a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  font-weight: 800;
  color: #000000;
}

.catalog-item-image:hover img {
  opacity: 0.7;
}

.catalog-item-price b{
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  font-weight: 300;
  color: #464646;
}

/* Стили для подвала сайта */

.site-footer {
  color: #ffffff;

  background-color: #464646;
}

.layout-footer-positioner {
  padding-bottom: 65px;
  padding-top: 65px;
}

.layout-footer-top-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.site-footer-logo:hover,
.site-footer-logo:focus {
  opacity: 0.6;
}

.site-footer-logo:active {
  opacity: 0.3;
}

.site-footer-site-menu a {
  color: #ffffff;
}

.site-footer .login-link a::before {
  background-image: url("../img/login-link-footer.svg");
}

.site-footer .profile-name a::before {
  background-image: url("../img/login-link-footer.svg");
}

.site-footer .compare::before {
  background-image: url("../img/compare-footer.svg");
}

.site-footer .cart::before {
  background-image: url("../img/cart-footer.svg");
}

.layout-footer-middle-row {
  display: flex;
  margin-bottom: 60px;
}

.footer-contacts {
  width: 250px;
  margin: 0;
  padding: 0;

  letter-spacing: normal;
}

.address {
  order: -1;
}

.phone-number {
  order: 1;

  text-align: right;
}

.site-footer-site-navigation {
  margin-left: auto;
  margin-right: auto;
}

.site-footer-site-navigation li:not(:last-child) {
  margin-right: 38px;
}

.site-footer-site-navigation li:first-child {
  margin-left: auto;
}

.site-footer-site-navigation li:last-child {
  margin-right: auto;
}

.site-footer-site-navigation a{
  color: #ffffff;
}

.site-footer-site-navigation a:hover,
.site-footer-site-navigation a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.site-footer-site-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.layout-footer-bottom-row {
  display: flex;
  padding-left: 250px;
}

.social-media-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;

  list-style: none;
}

.social-button:not(:last-child) {
  margin-right: 20px;
}

.social-button:first-child {
  margin-left: auto;
}

.social-button:last-child {
  margin-right: auto;
}

.social-media-list a {
  color: rgba(255, 255, 255, 0.3);
}

.social-media-list a:hover,
.social-media-list a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.social-media-list a:active {
  color: rgba(255, 255, 255, 0.1);
}

.signature {
  width: 250px;

  color: #ffc600;
  text-align: right;
}

.signature:hover,
.signature:focus {
  color: rgba(255, 198, 0, 0.6);
}

.signature:active {
  color: rgba(255, 198, 0, 0.3);
}

/* Модальные окна */

.modal {
  display: none;
}

/* body > * {

}

body > * > * {
  background: rgba(0, 255, 0, 0.5);
}

body > * > * > * {
  background: rgba(0, 0, 255, 0.5);
}

body > * > * > * > * {
  background: rgba(0, 255, 255, 0.5);
}

body > * > * > * > * > * {
  background: rgba(255, 255, 0, 0.5);
}

body > * > * > * > * > * > * {
  background: rgba(255, 0, 0, 0.5);
} */
